
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

header {
    background: rgb(4, 58, 144);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 1rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: rgb(4, 58, 144);
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
